/* #region = COMPONENTS */

.c_container {
	height: calc(min(1vh * 100, 80vw));
	background-color: var(--color-black);

	display: flex;
	align-items: flex-end;
	padding-block-end: var(--12);

	color: var(--color-white);

	@media (width <= 2400px) {
		padding-block-end: var(--10);
	}

	@media (width <= 2000px) {
		padding-block-end: var(--9);
	}

	@media (width <= 1600px) {
		padding-block-end: var(--8);
	}

	@media (width <= 1024px) {
		padding-block-end: var(--7);
	}

	@media (width <= 700px) {
		height: 100svh;
		padding-block-end: var(--8);
	}
}

.c_heading {
	mix-blend-mode: difference;
}

/* #endregion = COMPONENTS */
