/* #region = COMPONENTS */

.c_container {
	height: calc(min(1vh * 100, 80vw));
	background-color: var(--color-black);

	display: flex;
	align-items: flex-end;
	padding-inline: var(--14);
	padding-block-end: var(--12);

	color: var(--color-white);
}

.c_heading {
	mix-blend-mode: difference;
}

/* #endregion = COMPONENTS */
