/* #region = COMPONENTS */

.c_container {
	height: calc(min(1vh * 100, 80vw));

	display: flex;
	align-items: flex-end;
	padding-block-end: var(--12);

	color: var(--color-white);

	@media (width <= 2400px) {
		padding-block-end: var(--10);
	}

	@media (width <= 2000px) {
		padding-block-end: var(--9);
	}

	@media (width <= 1600px) {
		padding-block-end: var(--8);
	}

	@media (width <= 1024px) {
		padding-block-end: var(--7);
	}

	@media (width <= 700px) {
		height: 100svh;
		padding-block-end: var(--8);
	}
}

.c_heading {
	mix-blend-mode: difference;
}

/* #endregion = COMPONENTS */

/* #region = OBJECTS */

.o_video_container {
	position: absolute;
	inset: 0;
	width: 100%;
}

.o_video {
	box-sizing: border-box;
	z-index: -1;
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;

	/* pointer-events: none; */
}

/* *::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
} */

 video::-webkit-media-controls {
display: none !important;
opacity: 0;
}
/* Could Use thise as well for Individual Controls */
video::-webkit-media-controls-play-button {
display: none;
}

video::-webkit-media-controls-panel {
display: none;
opacity: 1;
}
video::-webkit-media-controls-play-button { 
display: none!; 
appearance: none; 
-webkit-appearance: none; 
}
video::-webkit-media-controls-start-playback-button {
display: none ;
appearance: none;
-webkit-appearance: none;
}
video::-webkit-media-controls-overlay-play-button {
display: none;
appearance: none;
-webkit-appearance: none;
}
video::-webkit-media-controls-container{
display:none;
visibility: hidden;
opacity: 0 ;
-webkit-appearance: none ;
} 
:host::shadow::-webkit-media-controls-container{ 
display: none; 
}

/* #endregion = OBJECTS */
