@font-face {
	font-family: "Helvetica Now";
	src: url("../Assets/Fonts/Helvetica\ Now\ Display\ Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Locomotive";
	src: url("../Assets/Fonts/Locomotive\ Light\ Font.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}

body {
	font-family: "Helvetica Now", sans-serif;
	font-size: var(--9);
	line-height: 120%;

	@media (width <= 2400px) {
		font-size: var(--8);
	}

	@media (width <= 2000px) {
		font-size: calc(var(--7) + var(--0_5));
	}

	@media (width <= 1600px) {
		font-size: calc(var(--6) + var(--0_5));
	}
}

.f_decor {
	font-family: "Locomotive", serif;
	font-size: var(--24);
	line-height: 110%;

	@media (width <= 2400px) {
		font-size: calc(var(--20) + var(--2));
	}

	@media (width <= 2000px) {
		font-size: var(--20);
	}

	@media (width <= 1600px) {
		font-size: calc(var(--16) + var(--2));
	}
}

.f_project_title {
	font-family: "Locomotive", serif;
	font-size: 7.5vw;
	line-height: 105%;
}

/* breakpoints */
/* ✅ 2400+ */
/* ✅ -2400 */
/* ✅ -2000 */
/* ✅ -1600 */
/* -1024 -> desktop */
/* -700 */
/* -380 */
