@font-face {
	font-family: "Helvetica Now";
	src: url("../Assets/Fonts/Helvetica\ Now\ Display\ Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Locomotive";
	src: url("../Assets/Fonts/Locomotive\ Light\ Font.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}

body {
	font-family: "Helvetica Now", sans-serif;
	font-size: var(--9);
	line-height: 120%;
}

.f_decor {
	font-family: "Locomotive", serif;
	font-size: var(--24);

	line-height: 110%;
}

.f_project_title {
	font-family: "Locomotive", serif;
	font-size: 7.5vw;
	line-height: 105%;
}

/* breakpoints */
/* 2400 */
/* 2000 */
/* 1600 */
/* tablet > 1024 > desktop */
/* 700 */
/* 380 */
