*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	text-rendering: optimizeSpeed;
}

html:focus-within {
	scroll-behavior: smooth;
}

/* #region = UTILITIES */

.u_no_hover:hover {
	text-decoration: none;
}

.u_screen_reader_text {
	position: absolute !important;
	overflow: hidden;
	clip: rect(0 0 0 0);
	margin: 0;
	padding: 0;
	width: 1px;
	height: 1px;
	border: 0;
}

.u_kerning_normal {
	font-kerning: normal;
}

.u_blend_normal {
	mix-blend-mode: normal;
}

.u_blend_difference {
	mix-blend-mode: difference;
}

/* #endregion = UTILITIES */
