*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	text-rendering: optimizeSpeed;
}

html:focus-within {
	scroll-behavior: smooth;
}

/* #region = UTILITIES */

.u_no_hover:hover {
	text-decoration: none;
}
/* #endregion = UTILITIES */
