/* #region = COMPONENTS */

.c_visual {
	aspect-ratio: 5 / 7;
	width: 100%;
	background-color: var(--color-black);

	grid-column: 3 / 7;
	grid-row: 1 / 2;

	@media (width <= 1024px) {
		grid-column: 2 / 5;
	}
}

/* #endregion = COMPONENTS */

/* #region = OBJECT */

.o_container {
	display: flex;
	flex-direction: column;
	gap: var(--5);

	padding-block: var(--12) var(--56);

	@media (width <= 2400px) {
		padding-block: var(--10) var(--52);
	}

	@media (width <= 2000px) {
		padding-block: var(--9) calc(var(--44) + var(--1));
	}

	@media (width <= 1600px) {
		padding-block: var(--8) var(--40);
	}

	@media (width <= 1024px) {
		padding-block: var(--8) var(--24);
		gap: var(--3);
	}

	@media (width <= 700px) {
		padding-block: var(--8) var(--20);
		gap: var(--3);
	}
}

.o_details {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(3, auto);
	column-gap: var(--5);
	row-gap: var(--3);

	@media (width <= 1024px) {
		grid-template-columns: repeat(8, 1fr);
	}

	@media (width <= 700px) {
		display: flex;
		flex-direction: column;
		gap: var(--8);
	}
}

.o_text_top {
	grid-column: 3 / 7;
	grid-row: 2 / 3;

	@media (width <= 1024px) {
		grid-column: 2 / 5;
	}
}

.o_text_bottom {
	grid-column: 4 / 7;
	grid-row: 3 / 4;
	transform: translateY(calc(var(--2_5) * -1));

	@media (width <= 1024px) {
		grid-column: 2 / 5;
	}
}

.o_text_top,
.o_text_bottom {
	@media (width <= 700px) {
		display: none;
	}
}

.o_description {
	grid-column: 7 / 13;
	grid-row: 1 / 5;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, auto);

	row-gap: var(--12);
	column-gap: var(--5);

	height: fit-content;

	@media (width <= 1024px) {
		grid-column: 5 / 9;
		row-gap: var(--10);
	}

	@media (width <= 700px) {
		display: flex;
		flex-direction: column;
		gap: var(--8);
	}
}

.o_text_section {
	grid-column: 1 / -1;
	grid-row: 1 / 2;
}

.o_links {
	grid-column: 1 / 2;
	grid-row: 2 / 3;

	display: flex;
	flex-direction: column;
	gap: var(--6);

	@media (width <= 1024px) {
		gap: var(--4);
	}
}

/* #endregion = OBJECT */
