.o_container {
	padding-inline: var(--14);

	@media (width <= 2400px) {
		padding-inline: var(--12);
	}

	@media (width <= 1600px) {
		padding-inline: var(--10);
	}

	@media (width <= 1024px) {
		padding-inline: var(--5);
	}
}

.u_bg_color_white {
	background-color: var(--color-white);
}
