/* #region = COMPONENTS */

.c_link:hover {
	cursor: pointer;
	text-decoration: underline;
	text-decoration-thickness: var(--0_5);
	text-underline-offset: var(--2);
}

/* #endregion = COMPONENTS */

/* #region = OBJECT */

.o_container {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;

	padding-block-end: var(--8);

	@media (width <=2400px) {
		padding-block-end: var(--7);
	}

	@media (width <=2000px) {
		padding-block-end: var(--6);
	}

	@media (width <=1600px) {
		padding-block-end: var(--5);
	}
}

.o_email_shift {
	margin-inline-start: var(--4);
}

/* #endregion = OBJECT */
