/* #region = COMPONENTS */

/* #endregion = COMPONENTS */

/* #region = OBJECT */

.o_card {
	position: relative;
	height: fit-content;

	display: flex;
	flex-direction: column;
	gap: var(--2);
}

.o_link {
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.o_card:hover .o_name,
.o_card:hover .o_button,
.o_card:hover .o_price {
	text-decoration: underline;
	text-decoration-thickness: var(--0_5);
	text-underline-offset: calc(var(--0_5) + var(--px));

	@media (width <= 1024px) {
		text-decoration-thickness: var(--px);
	}
}

.o_details {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-rows: repeat(2, auto);
	row-gap: var(--1);
	column-gap: var(--4);
}

.o_name {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.o_price {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
}

.o_button {
	grid-column: 2 / 3;
	grid-row: 1 / 2;

	@media (width <= 700px) {
		display: none;
	}
}

.o_image_wrapper {
	position: relative;
}

.o_canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	image-rendering: pixelated;
}

/* #endregion = OBJECT */
