/* #region = COMPONENTS */

.c_double_col {
	border-top: var(--0_5) solid var(--color-black);
	padding-block-start: var(--1);

	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.c_single_col {
	border-top: var(--0_5) solid var(--color-black);
	padding-block-start: var(--1);

	display: flex;
	flex-direction: column;
}

/* #endregion = COMPONENTS */

/* #region = OBJECT */

.o_container {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: var(--5);

	padding-block-end: var(--60);

	@media (width <= 2400px) {
		padding-block-end: var(--56);
	}

	@media (width <= 2000px) {
		padding-block-end: var(--52);
	}

	@media (width <= 1600px) {
		padding-block-end: calc(var(--44) + var(--2));
	}
}

.o_container_menu {
	grid-column: 1 / 3;
}

o_container_social {
	grid-column: 3 / 4;
}

.o_title {
	margin-block-end: var(--1);
}

/* #endregion = OBJECT */
