/* #region = COMPONENTS */

.c_link {
	padding-block-start: var(--2);
	display: inline-block;
	width: 100%;
}

.c_link[data-icon]::after {
	content: attr(data-icon);
	position: absolute;
	right: 0;
	font-size: 75%;
}

.c_link_area {
	position: relative;
	border-top: var(--0_5) solid var(--color-black);

	grid-column: 3 / 4;
	grid-row: 4 / 5;
  align-self: flex-end;

}

/* #endregion = COMPONENTS */

/* #region = OBJECTS */

.o_container {
	width: 100%;

	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(2, auto);

	row-gap: var(--28);
	column-gap: var(--5);

	padding-block-end: var(--40);
}

.o_years {
	padding-block: var(--6);
	grid-column: 11 / 13;
	grid-row: 1 / 2;
}

.o_canvas {
	grid-column: 1 / -1;
	grid-row: 2 / 3;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.o_canvas_area {
	aspect-ratio: 5 / 7;
	width: 28rem;
	background-color: var(--color-black);

	grid-column: 2 / 3;
	grid-row: 2 / 5;
}

.o_canvas_wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, auto);
	column-gap: var(--5);
	row-gap: var(--4);
}

.o_canvas_wrapper span:nth-of-type(1) {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
}

.o_canvas_wrapper span:nth-of-type(2) {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	justify-self: flex-end;
}

.o_canvas_wrapper span:nth-of-type(3) {
	grid-column: 3 / 4;
	grid-row: 3 / 4;
}

/* #endregion = OBJECTS */
