/* #region = COMPONENTS */

.c_item {
	position: relative;
	border-top: var(--0_5) solid var(--color-black);
	padding-block: calc(var(--5) + var(--0_5));

	@media (width <= 2000px) {
		padding-block: var(--5);
	}

	@media (width <= 1600px) {
		padding-block: var(--4);
	}

	@media (width <= 1024px) {
		border-top: var(--px) solid var(--color-black);
	}

	@media (width <= 700px) {
		padding-block: var(--2_5);
	}
}

.c_item_last {
	position: relative;
	border-top: var(--0_5) solid var(--color-black);
	border-bottom: var(--0_5) solid var(--color-black);
	padding-block: var(--1_5);

	@media (width <= 2000px) {
		padding-block: var(--5);
	}

	@media (width <= 1600px) {
		padding-block: var(--4);
	}

	@media (width <= 1024px) {
		border-top: var(--px) solid var(--color-black);
		border-bottom: var(--px) solid var(--color-black);
	}

	@media (width <= 700px) {
		padding-block: var(--2_5);
	}
}

.c_link {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: 0;
	z-index: 20;
}

.c_image {
	display: flex;
	height: 7.5vw;
	object-fit: cover;

	@media (width <= 700px) {
		height: var(--10);
	}
}

/* #endregion = COMPONENTS */

/* #region = OBJECT */

.o_title {
	display: flex;
	align-items: center;
	justify-content: center;
}

.o_title_final {
	position: relative;
}

.o_title_final::before {
	content: "";
	font-size: 50%;
	position: absolute;
	top: calc(2.7vw * -1);
	right: 100%;

	animation: 2s linear 0s infinite normal none running flashSymbols;
}

.o_title_final::after {
	content: "";
	font-size: 50%;
	position: absolute;
	top: calc(2.7vw * -1);
	left: 100%;

	animation: 2s linear 0s infinite normal none running flashSymbols;
}

@keyframes flashSymbols {
	0% {
		content: "";
	}
	25% {
		content: "🕳";
	}
	50% {
		content: "";
	}
	75% {
		content: "🔺";
	}
}

.o_item_name {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	margin: 0;
	padding: 0;
	width: var(--px);
	height: var(--px);
	border: 0;
}

.o_image_wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	margin-inline: 0.7vw;

	position: relative;

	width: 0;
	clip-path: inset(0 50% 0 50%);
	transition: width 0.3s cubic-bezier(0.3, 0.3, 0, 1), clip-path 0.3s cubic-bezier(0.3, 0.3, 0, 1);
}

@media (width > 700px) {
	.c_item:hover .o_image_wrapper {
		width: 12vw;
		clip-path: inset(0 0 0 0);
	}
}

.o_title_name {
	display: flex;
	align-items: center;
	transform: translateY(var(--5));

	@media (width <= 2000px) {
		transform: translateY(var(--3));
	}

	@media (width <= 700px) {
		transform: translateY(var(--1));
	}
}

.pixelate_target {
	display: flex;
	height: 7.5vw;

	@media (width <= 700px) {
		height: var(--10);
	}
}

.-pixelated {
	position: relative;
}
/* #endregion = OBJECT */
